@page "/create"
@using Calypso.Web.Models
@using Microsoft.Extensions.Logging
@using System.Net.Http.Headers
@using System.IO
@inject ILogger<CreateFeedback> Logger
@inject HttpClient Http
@inject NavigationManager NavManager

<h1>Create feedback</h1>

<EditForm Model="@createFeedback" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <table>
        <tr>
            <td>
                <label>Subject:</label>
            </td>
            <td>
                <InputText @bind-Value="@createFeedback.Subject"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                <label>Machine:</label>
            </td>
            <td>
                <InputText @bind-Value="@createFeedback.Machine"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                <label>Location:</label>
            </td>
            <td>
                <InputText @bind-Value="@createFeedback.Location"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                <label>Reporter:</label>
            </td>
            <td>
                <InputText @bind-Value="@createFeedback.Reporter"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                <label>Role:</label>
            </td>
            <td>
                <InputText @bind-Value="@createFeedback.Role"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                <label>Date:</label>
            </td>
            <td>
                <InputDate @bind-Value="@createFeedback.Date"></InputDate>
            </td>
        </tr>
        <tr>
            <td>
                <label>Sbu:</label>
            </td>
            <td>
                <InputText @bind-Value="@createFeedback.Sbu"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                <label>Project name:</label>
            </td>
            <td>
                <InputText @bind-Value="@createFeedback.ProjectName"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                <label>Product name:</label>
            </td>
            <td>
                <InputText @bind-Value="@createFeedback.ProductName"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                <label>Factory:</label>
            </td>
            <td>
                <select @bind="@createFeedback.Factory">
                    <option value="China">China</option>
                    <option value="Finland">Finland</option>
                    <option value="India">India</option>
                    <option value="Russia">Russia</option>
                    <option value="Usa">Usa</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>File:</label>
            </td>
            <td>
                <InputFile OnChange="@LoadFiles"></InputFile>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button class="button button1" type="submit">Submit</button>
            </td>
        </tr>
    </table>

</EditForm>

<style>
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #555555;
    }
    .button1:hover {
        background-color: #555555;
        color: white;
    }
</style>

@code
{
    private CreateFeedback createFeedback = new();

    private async Task HandleValidSubmit()
    {
        using var content = new MultipartFormDataContent
        {
            {new StringContent(createFeedback.Subject), "Subject"},
            {new StringContent(createFeedback.Machine), "Machine"},
            {new StringContent(createFeedback.Location), "Location"},
            {new StringContent(createFeedback.Reporter), "Reporter"},
            {new StringContent(createFeedback.Role), "Role"},
            {new StringContent(createFeedback.Date.ToShortDateString()), "Date"},
            {new StringContent(createFeedback.Sbu), "Sbu"},
            {new StringContent(createFeedback.ProjectName), "ProjectName"},
            {new StringContent(createFeedback.ProductName), "ProductName"},
            {new StringContent(createFeedback.Factory), "Factory"}
        };

        if(createFeedback.FileContent is {Length: > 0 })
            content.Add(new StreamContent(new MemoryStream(createFeedback.FileContent)), "File", "fileName");

        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im5PbzNaRHJPRFhFSzFqS1doWHNsSFJfS1hFZyIsImtpZCI6Im5PbzNaRHJPRFhFSzFqS1doWHNsSFJfS1hFZyJ9.eyJhdWQiOiJhcGk6Ly80Y2U0ZGMwMC1jZGMzLTRkZjgtYmNiYy0xNGUxMDA2NzU4YjEiLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC9mNGMxODc4OC0xZjZkLTRmMzQtOTdiMS01MGNlODU0MWE2MzcvIiwiaWF0IjoxNjI2NzA4Nzc4LCJuYmYiOjE2MjY3MDg3NzgsImV4cCI6MTYyNjcxMjY3OCwiYWNyIjoiMSIsImFpbyI6IkFTUUEyLzhUQUFBQVpxSlBCSDI5Y25lWFJaTzR0YkFNbUJiWkxuRFZiZXptY002WDNxcEhNVXM9IiwiYW1yIjpbInB3ZCJdLCJhcHBpZCI6IjRjZTRkYzAwLWNkYzMtNGRmOC1iY2JjLTE0ZTEwMDY3NThiMSIsImFwcGlkYWNyIjoiMSIsImZhbWlseV9uYW1lIjoiUHJ5a2hpZGtvIiwiZ2l2ZW5fbmFtZSI6IlZpa3RvciIsImlwYWRkciI6IjkzLjE3MS43OC4yMzgiLCJuYW1lIjoiVmlrdG9yIFByeWtoaWRrbyIsIm9pZCI6IjM3ZGI5MzBhLWJhODEtNGMzNi1hYzMzLTMxYzM1OTViMWUwMyIsInJoIjoiMC5BU0VBaUlmQjlHMGZORS1Yc1ZET2hVR21Od0RjNUV6RHpmaE52THdVNFFCbldMRWhBTEUuIiwic2NwIjoiYWNjZXNzX2FzX3VzZXIiLCJzdWIiOiJXNGFHMUthUVIwY29xZ09Ua0ZUX0hXZjU4UGNRbjVKWkduZ09lYTFPNzdRIiwidGlkIjoiZjRjMTg3ODgtMWY2ZC00ZjM0LTk3YjEtNTBjZTg1NDFhNjM3IiwidW5pcXVlX25hbWUiOiJ2aWt0b3IucHJ5a2hpZGtvQHNvZnR3YXJpdW0ubmV0IiwidXBuIjoidmlrdG9yLnByeWtoaWRrb0Bzb2Z0d2FyaXVtLm5ldCIsInV0aSI6Inh0aFhjTFVrWmthWk1EZWdiRWhxQUEiLCJ2ZXIiOiIxLjAifQ.Nb-KUQDqR8DYnxf-8uxd99Q5lgVSNMubr7OQeS9cW-sIeumQHFz--RyUDkgpQOXAYK5OyXLzBUj13ziGAp1hcBOmM-0ia8YCiSWkd8a6-azO6guD-Bffn6bqyJcKWWWcc48hPue8aQWzNFuoUbB2l-tAcer6-A9ksh0f654WSQPRWWYuorIDl7rnDpQX3RURs-0gg2-dI41Ukq5uZDBbFa5R66aN8nSkJDwvIzREEXWnwcBcUi1AbXko715aTIY9sVSLccIf6BDcUu3EDi929R4CFAdHlQHMwSoJ70sfr67C4oPC-5nv51Z83BV29qtReE-YVQr02qUIZSss0_I5fg");
        var response = await Http.PostAsync("http://localhost:5000/api/Feedback", content);
        var responseContent = await response.Content.ReadAsStringAsync();
        NavManager.NavigateTo("/feedbacks");
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var file = e.GetMultipleFiles().FirstOrDefault();

        if (file != null)
        {
            var buffer = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffer);
            createFeedback.FileContent = buffer;
        }
    }
}